* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(49, 164, 137);
}

#container {
  width: 410px;
  margin: auto;
  margin-top: 50px;
  border: 5px solid white;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

#calculator {
  background: white;
}

#calculator button {
  width: 100px;
  height: 100px;
  background: rgb(2, 72, 72);
  color: white;
  font-size: 24px;
  border-radius: 8%;
}

.btnPressed {
  opacity: 0.5;
}

button:hover {
  opacity: 0.8;
}

#calculator button#zero {
  width: 200px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 400px;
  height: 80px;
  border: 5px solid gray;
  background: white;
  font-size: 64px;
  color: darkgreen;
  font-weight: 600;
  font-family: monospace;
}
